version: 2.1

orbs:
  win: circleci/windows@2.2.0

jobs:
  unit-test:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Delete any old node_modules
          command: |
            rm -rf node_modules/
      - run:
          name: Install truffle (globally)
          command: |
            sudo npm install -g truffle
      - run:
          name: Install dependencies
          command: |
            yarn
      - run:
          name: Truffle compile
          command: |
            truffle compile
      - run:
          name: Generate coverage
          command: |
            truffle run coverage
      - run:
          name: Run tests
          command: |
            npm run test:ci
      - run:
          name: Upload coverage
          command: |
            bash <(curl -s https://codecov.io/bash)
workflows:
  version: 2
  build:
    jobs:
      - unit-test